{% extends 'Company_Dashboard/base.html' %}
{% load static %}
{% block newcontent %}
<main class="content-wrapper">
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div
                class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet">
                <div class="mdc-card bg-success text-white">
                    <div class="d-flex justify-content-between">
                        <h3 class="font-weight-normal">Impressions</h3>
                        <i class="material-icons options-icon text-white">more_vert</i>
                    </div>
                    <div class="mdc-layout-grid__inner align-items-center">
                        <div
                            class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-2-phone">
                            <div>
                                <h5 class="font-weight-normal mt-2">Customers 58.39k</h5>
                                <h2 class="font-weight-normal mt-3 mb-0">636,757K</h2>
                            </div>
                        </div>
                        <div
                            class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-2-phone">
                            <div class="chartjs-size-monitor">
                                <div class="chartjs-size-monitor-expand">
                                    <div class=""></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink">
                                    <div class=""></div>
                                </div>
                            </div>
                            <canvas id="impressions-chart" height="52" width="198"
                                style="display: block; height: 42px; width: 159px;"
                                class="chartjs-render-monitor"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet">
                <div class="mdc-card bg-info text-white">
                    <div class="d-flex justify-content-between">
                        <h3 class="font-weight-normal">Traffic</h3>
                        <i class="material-icons options-icon text-white">more_vert</i>
                    </div>
                    <div class="mdc-layout-grid__inner align-items-center">
                        <div
                            class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-2-phone">
                            <div>
                                <h5 class="font-weight-normal mt-2">Customers 58.39k</h5>
                                <h2 class="font-weight-normal mt-3 mb-0">636,757K</h2>
                            </div>
                        </div>
                        <div
                            class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-2-phone">
                            <div class="chartjs-size-monitor">
                                <div class="chartjs-size-monitor-expand">
                                    <div class=""></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink">
                                    <div class=""></div>
                                </div>
                            </div>
                            <canvas id="traffic-chart" height="52" width="198"
                                style="display: block; height: 42px; width: 159px;"
                                class="chartjs-render-monitor"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-8">
                <div class="mdc-card">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="card-title mb-2 mb-sm-0">Revenue by location</h4>
                        <div class="d-flex justtify-content-between align-items-center">
                            <p class="d-none d-sm-block text-muted tx-12 mb-0 mr-2">Goal reached</p>
                            <i class="material-icons options-icon">more_vert</i>
                        </div>
                    </div>
                    <div class="d-block d-sm-flex justify-content-between align-items-center">
                        <h6 class="card-sub-title mb-0">Sales performance revenue based by country</h6>
                        <div class="mdc-tab-wrapper revenue-tab mdc-tab--secondary">
                            <div class="mdc-tab-bar" role="tablist">
                                <div class="mdc-tab-scroller">
                                    <div class="mdc-tab-scroller__scroll-area mdc-tab-scroller__scroll-area--scroll"
                                        style="margin-bottom: 0px;">
                                        <div class="mdc-tab-scroller__scroll-content">
                                            <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true"
                                                tabindex="0" id="mdc-tab-1">
                                                <span class="mdc-tab__content">
                                                    <span class="mdc-tab__text-label">1W</span>
                                                </span>
                                                <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                                    <span
                                                        class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                                </span>
                                                <span class="mdc-tab__ripple mdc-ripple-upgraded"></span>
                                            </button>
                                            <button class="mdc-tab mdc-tab" role="tab" aria-selected="true" tabindex="0"
                                                id="mdc-tab-2">
                                                <span class="mdc-tab__content">
                                                    <span class="mdc-tab__text-label">1M</span>
                                                </span>
                                                <span class="mdc-tab-indicator mdc-tab-indicator">
                                                    <span
                                                        class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                                </span>
                                                <span class="mdc-tab__ripple mdc-ripple-upgraded"></span>
                                            </button>
                                            <button class="mdc-tab mdc-tab" role="tab" aria-selected="true" tabindex="0"
                                                id="mdc-tab-3">
                                                <span class="mdc-tab__content">
                                                    <span class="mdc-tab__text-label">3M</span>
                                                </span>
                                                <span class="mdc-tab-indicator mdc-tab-indicator">
                                                    <span
                                                        class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                                </span>
                                                <span class="mdc-tab__ripple mdc-ripple-upgraded"></span>
                                            </button>
                                            <button class="mdc-tab mdc-tab" role="tab" aria-selected="true" tabindex="0"
                                                id="mdc-tab-4">
                                                <span class="mdc-tab__content">
                                                    <span class="mdc-tab__text-label">1Y</span>
                                                </span>
                                                <span class="mdc-tab-indicator mdc-tab-indicator">
                                                    <span
                                                        class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                                </span>
                                                <span class="mdc-tab__ripple mdc-ripple-upgraded"></span>
                                            </button>
                                            <button class="mdc-tab mdc-tab" role="tab" aria-selected="true" tabindex="0"
                                                id="mdc-tab-5">
                                                <span class="mdc-tab__content">
                                                    <span class="mdc-tab__text-label">ALL</span>
                                                </span>
                                                <span class="mdc-tab-indicator mdc-tab-indicator">
                                                    <span
                                                        class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                                </span>
                                                <span class="mdc-tab__ripple mdc-ripple-upgraded"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content content--active">
                            </div>
                            <div class="content">
                            </div>
                            <div class="content">
                            </div>
                            <div class="content">
                            </div>
                            <div class="content">
                            </div>
                        </div>
                    </div>
                    <div class="chart-container mt-4">
                        <div class="chartjs-size-monitor">
                            <div class="chartjs-size-monitor-expand">
                                <div class=""></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink">
                                <div class=""></div>
                            </div>
                        </div>
                        <canvas id="revenue-chart" height="325" style="display: block; height: 260px; width: 334px;"
                            width="417" class="chartjs-render-monitor"></canvas>
                    </div>
                </div>
            </div>
            <div
                class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet">
                <div class="mdc-card">
                    <div class="d-flex d-lg-block d-xl-flex justify-content-between">
                        <div>
                            <h4 class="card-title">Order Statistics</h4>
                            <h6 class="card-sub-title">Customers 58.39k</h6>
                        </div>
                        <div id="sales-legend" class="d-flex flex-wrap">
                            <div>
                                <div class="d-flex align-items-center"><span class="bullet-rounded"
                                        style="border-color: #00b67a "></span>
                                    <p class="tx-12 text-muted mb-0 ml-2">Gross volume</p>
                                </div>
                                <div class="d-flex align-items-center"><span class="bullet-rounded"
                                        style="border-color: #08bdde "></span>
                                    <p class="tx-12 text-muted mb-0 ml-2">New Cusromers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chart-container mt-4">
                        <div class="chartjs-size-monitor">
                            <div class="chartjs-size-monitor-expand">
                                <div class=""></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink">
                                <div class=""></div>
                            </div>
                        </div>
                        <canvas id="chart-sales" height="361" width="417"
                            style="display: block; height: 289px; width: 334px;"
                            class="chartjs-render-monitor"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock newcontent %}